html,body{margin:0;padding:0}	  
body{font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;padding-bottom:20px}
a  { color: #0066B3; background: inherit; text-decoration: none;}
h1 { font: bold 1.8em Arial, Arial, Sans-Serif; color: #036DA7; padding: 0;}
h2 { font: bold 1.2em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }
h3 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

div#header{width:100%;overflow:hidden;background: #6699CC; }
div#header h1,div#menu{ width:100%; margin:0 auto; text-align:left}
div#header h1{width:80%; padding: 30px 0 20px;color: #fff}
div#header address{width:200px; font-size: 80%; float: right; color: #FFF; margin: 4px; padding-right: 10px;}

ul#nav,ul#nav li{	list-style-type:none;
			margin:0; 
			padding:0; }
ul#nav{		float:left;
			width: 500px; 
			font-size: 80%}
ul#nav li{	float:left;
			width: 100px; 
			margin-left: 3px;
			text-align: center}
ul#nav a{	float:left;
			width: 90px; 
			padding: 5px; 
			background: #E7F1F8; 
			text-decoration:none; 
			color: #666; 
			border-top: 	1px solid #fff; 
			border-left: 	1px solid #fff; 
			border-right: 	0px solid #fff;
			border-bottom: 	0px solid #fff; }
ul#nav a:hover{	background: #fff;
			color: #000}

#content {
	font: 100%/1.3 TrebuchetMS,Arial,sans-serif;
	margin: 0 auto;
    padding: 15px;
	background: #fff;
}

.text-left  {   text-align: left;   }
.text-right {  text-align: right;  }
.text-high { color: #0066B3; } 
			
div#footer{	float:left; 
			font-size: 80%;
			width:100%;
			overflow:hidden;
			background: #6699CC; 
			color: #fff; 	
			margin-top: 1.2em;}
div#footer h1{padding: 30px 0 20px;color: #fff}

a:link    { color: #036DA7; text-decoration: none; }
a:visited { color: #036DA7; text-decoration: none; } 
a:hover   { color: red}


table		 { text-align: left;  border-spacing: 0 0;}
table.box	 { font-size: 90%;	margin: 30px 0 0  0;}
table.center { margin-left:auto; margin-right:auto;}
caption 	 { font: bold 1.1em Arial; 
        	   width: auto;
        	   text-align: left; }
caption.affil	 {  text-align: center;}
caption.halfbold { font-weight: 700; }
td      	{ border: 0; padding: 0 4px; }
th      	{ font-weight: normal;
			  text-align: left;
			  padding: 0 10px 0 10px;
}
th.affil	{  text-align: right; padding: 0 4px;}

img.floatRight {   float: right;    margin: 4px; 	}


/* LEFT PANELS   */
 
#left {
	float: left;
	width: 73.4%;
	text-align: justify;
}
#left .boxname{
    font-size: 125%;	  
	padding: 2em;
	margin: 0 0 15px 0;
}
#left .boxinterests{
    font-size: 110%;	  
	margin: 0 0 10px 0;	
}
#left .boxlight{
    font-size: 120%;	  
	padding: 2em;
	background: #F0F0F0;
	margin: 0 0 5px 0;
	margin-bottom: 1.2em;
}
#left .boxlightblue{
    font-size: 120%;
	padding: 1em;
	background: #E7F1F8;
	margin: 0 0 15px 0;
}
/* Hover state for boxlightblue inside mynav */
#left a.mynav:hover .boxlightblue {
	color: #000;
	font-size: 140%;
	padding: 0.75em;
    background-color: #FDEDEC  ; /* Background color on hover */
}

#left .boxUNC{
	padding: 1em;
	background: #E7F1F8;
	margin: 0 0 10px 0;	
}
#left .boxEUI{
	padding: 1em;
	background: #A6D6F9;
	margin: 0 0 10px 0;
}

#left .boxStanford{
	padding: 1em;
	background: #f0e0e0;
	margin: 0 0 10px 0; 
}
#left .boxBrown{
	padding: 1em;
	margin: 0 0 10em 0;
	background : #DA7D81;
}


#left .boxlightbluepic{
	padding: 0em;
	background: #E7F1F8;
	margin: 0 0 12px 0; 
}
#left .biobox{
	padding: 2em;
	margin: 1em;
	background: #E7F1F8;
}


#left .bg{
	width: 170px;
	font-size:80%;
	padding: 1em;
	background: #F8F8F8;
	margin-bottom: 1.2em;

}
#left .boxgray{
	padding: 1em;
	background: #E8E8E8 ;
	margin-bottom: 1.2em;
}
#left .boxpaper1{
	padding: 1em;
	background: #F0F0F0;
}
#left .biobox{
	padding: 2em;
	margin: 1em;
	background: #E7F1F8;
}
#left .affil{
	font-size:95%;
	padding: 2px;
	margin-bottom: 1.2em;
}


#left .pdf-container iframe{
    width: 100%;
	height: 500px;
}

/* RESEARCH PAPERS COLLAPSIBLE */

.yearbox{
	vertical-align: top;
	font-size:90%;
	padding: 0em;
	margin: 0 0 0 0;
	background: #E7F1F8;
}
.paperbox{
    font-size: 100%;
	padding: 1.5em;
	background: #E7F1F8;
	margin: 0 0 15px 0;
}
.paperbox p{
    margin-top:    4px; /* Reduces the space above the paragraph */
    margin-bottom: 4px; /* Reduces the space below the paragraph */
}

.collapsible {
	cursor: pointer;
	text-align: left;
	font-size: 90%;
	border: none;
    margin-bottom: 4px; 
	width: 100%;
	background-color: #E7F1F8; /* Original background color */
}

/* Hover state only, not active */
.collapsible {
    cursor: pointer;
    text-align: left;
    font-size: 100%;
    border: none;
    width: 100%;
    background-color: #E7F1F8; /* Original background color */
}

/* Active state styling */
.collapsible.active {
    background-color: #f1f1f1; /* Keeps original color when active */
}

/* Hover state takes precedence over active */
.collapsible:hover, .collapsible.active:hover {
    background-color: white; /* Always white on hover */
}

.content {
    padding: 0 18px;
    font-size: 90%;
	display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
.content p {
    margin-top:    4px; /* Reduces the space above the paragraph */
    margin-bottom: 4px; /* Reduces the space below the paragraph */
}

.content a {
    text-color:  blue; 
}


.collapsible::before {
    content: '+';
    color: black; /* Adjust the color as needed */
    font-weight: bold;
    margin-right: 10px;
    display: inline-block; /* Ensures the symbol is aligned correctly */
}

.collapsible.active::before {
    content: '-';
}





/* RIGHT PANELS   */
.responsive-image {
  width: 100%;  /* Makes the image width responsive to the container width */
  height: auto; /* Maintains the image's aspect ratio */
}

#right {
	float: right;
	width: 25.9%;
	margin: 0 0 10px 0;
	font-size: 85%;
}
#right .boxpicture {
	padding: 0em;
	margin: 0 0 5px 0;
	background : #E7F1F8;
}
#right .boxlightblue {
	padding: 1em;
	margin: 0 0 5px 0;
	background : #E7F1F8;
}
#right .boxlavender {
	padding: 1em;
	margin: 0 0 1em 0;
	background : #EBDDE2;
}
#right .boxyellow {
	padding: 1em;
	margin: 0 0 1em 0;
	background : #FFF8C6;
}
#right .boxred {
	text-align: center;
	padding: 1em;
	margin: 0 0 5px 0;
	background : #f0e0e0;
}
#right .boxgreen {
	padding: 1em;
	margin: 0 0 1em 0;
	background : #D7FCCD;
}
#right .boxblue {
	padding: 1em;
	margin: 0 0 1em 0;
	background : #E0FFFF;
}

/* BIO PAGE		  */
.pdf-container {
    width: 100%;
    max-width: 600px;
    height: 500px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

#paper {
	float: right;
	width: 100%;
	text-align: justify;
		font-size: 90%;
		background: #C0D9E0;
	}
	#paper .top {
		padding-right: 1.1em;
		margin: 0 2em 0 2em;
	}
	#paper .headline {
		padding: 1.1em;
		background: #80BBDD ;
		margin: 0 2em 0 2em;
	}
	#paper .p1 {
		padding: 0.8em;
		background: #F0F0F0;
		margin: 0 2em 0 2em;
	}
	#paper .p2 {
		padding: 0.8em;
		background: #F8F8F8;
		margin: 0 2em 0 2em;
	}
	#paper .bottom {
		padding: 1.1em;
		height: 100px;
		margin: 0 2em 2em 2em;
	}

<!--	

#pubs {
	float: right;
	width: 100%;
	text-align: justify;
		font-size: 90%;
		background: #C0D9E0;
}
	#pubs .top {
		padding-right: 1.1em;
		margin: 0 2em 0 2em;
	}
	#pubs .headline {
		padding: 1.1em;
		background: #99B0D0 ;
		margin: 0 2em 0 2em;
		font: bold;
	}
	#pubs .p1 {
		padding: 0.8em;
		background: #F0F0F0;
		margin: 0 2em  0 2em;
	}
	#pubs .p2 {
		padding: 0.8em;
		background: #F8F8F8;
		margin: 0 2em 0 2em;
	}
	#pubs .bottom {
		padding: 1.1em;
		height: 100px;
		margin: 0 2em 2em 2em;
	}

-->

	
.basictab{
	font-size: 200%;
	padding-top: 15px;
	text-align: center; 
}
.basictab li{
	display: inline;
	text-align: center;
}
.basictab li a{
	text-decoration: none;
	color: #000;
}
.basictab li a:hover{
	color: red;
}
.basictab li.pubfront a{ 
	position: relative;
	border-bottom: 2px solid #99B0D0;
	background: #99B0D0 url(pub_tl.png) left top no-repeat;
}
.basictab li.pubfront span{ 
	position: relative;
	background: url(pub_tr.png) right top no-repeat; 
} 
.basictab li.pubback a{ 
	position: relative;
	background: #99B0D0 url(pub_tl.png) left top no-repeat;
}
.basictab li.pubback span{ 
	position: relative;
	background: url(pub_tr.png) right top no-repeat; 
} 
.basictab li.papfront a{
	position: relative;
	border-bottom: 2px solid #80BBDD;
	background: #80BBDD url(tl.png) left top no-repeat;
}
.basictab li.papfront span{ 
	position: relative;
	background: url(tr.png) right top no-repeat; 
} 
.basictab li.papback a{ 
	position: relative;
	background: #80BBDD url(tl.png) left top no-repeat;
}
.basictab li.papback span{ 
	position: relative;
	background: url(tr.png) right top no-repeat; 
} 



ul {
	list-style: none;
	margin-left: 1em;
	padding-left: 1em;
	margin-top: 0;
	margin-bottom: 0;
	text-indent: -1em;
	}


